
body{
    background-color:rgb(244, 244, 244);
}
.container{
    display: flex;
    margin-top: 10px;
}

.featureTitle{
    font-size: 20px;
}

.featureMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featureMoney{
    font-size: 30px;
    font-weight: bold;
}

.featureMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.featureIcon{
    font-size: 14px;
    margin-left: 5px;
    color: red;
} 

.featureIcon.positive{
    font-size: 10px;
    margin-left: 5px;
    color: green;
} 